@model List<Movie>


<div class="text-center">
    <h1 class="display-4">Peliculas</h1>
    <p>SELECCIONADOS 50 AÑOS</a>.</p>
</div>

<ol>
    @foreach (var item in Model)
    {
        <li><a asp-action="Detail" asp-route-id="@item.Code">@item.Name</a></li>
    }
</ol>

<a asp-action="Create">Nueva Película</a>